<h1 id="tableLabel">Cryptocoins Portfolio</h1>

<div class="container">

  <div class="row mb-5 mt-3">

    <!--Line chart data-->
    <div class="col-sm-8">

      <app-line-chart></app-line-chart>

    </div>

    <!--Investment totals-->
    <div class="col-sm-4">

      <app-investment-data></app-investment-data>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-8">

      <!--Cryptocoins table-->
      <p *ngIf="!cryptocoins"><em>Loading...</em></p>

      <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cryptocoins">

        <thead>
          <tr>
            <th>Date Purchased</th>
            <th>Coin Name</th>
            <th>Coin Value</th>
            <th>Quantity</th>
            <th>Total Value</th>
            <th>Current Value</th>
            <th>Current Total</th>
          </tr>
        </thead>

        <tbody>

          <tr *ngFor="let coin of pageOfItems">
            <td>{{ coin.datePurchased | date: "dd/MM/yyyy" }}</td>
            <td>{{ coin.coinName }}</td>
            <td>£{{ coin.dateValueCoin }}</td>
            <td>{{ coin.purchaseAmount | number }}</td>
            <td>£{{ coin.dateTotalValue | number: '1.2-2' }}</td>

            <td *ngIf="coin.currentValueCoin > coin.dateValueCoin; else lowerValue">
              <p class="text-success">£{{ coin.currentValueCoin }}</p>
            </td>

            <td *ngIf="coin.currentTotalValue > coin.dateTotalValue; else lowerTotal">
              <p class="text-success">£{{ coin.currentTotalValue | number: '1.2-2' }}</p>
            </td>

            <ng-template #lowerValue>
              <td><p class="text-danger">£{{ coin.currentValueCoin }}</p></td>
            </ng-template>
            <ng-template #lowerTotal>
              <td><p class="text-danger">£{{ coin.currentTotalValue | number: '1.2-2' }}</p></td>
            </ng-template>
          </tr>

        </tbody>

      </table>

      <div class="row">

        <div class="col-sm-6">

          <!--table pagination-->
          <jw-pagination [pageSize]="5" [items]="cryptocoins" (changePage)="onChangePage($event)"></jw-pagination>

        </div>

        <div class="col-sm-6">

          <!--<button (click)="removeCoin()" type="button" class="btn btn-primary">Remove</button>-->
          <button (click)="updateCoinData()" type="button" class="btn btn-primary">Update</button>

        </div>

      </div>

    </div>

    <div class="col-sm-4">

      <h3>Add New Coin</h3>

      <!--Form group adding new cryptocoin-->
      <form [formGroup]="form" (ngSubmit)="addNewCoin()">

        <div class="form-group">
          <label for="datePurchased">Purchased Date</label>
          <input class="form-control" formControlName="datePurchased" type="date" id="datePurchased">
        </div>

        <div class="form-group">
          <label for="coinName">Coin Name</label>
          <input class="form-control" formControlName="coinName" type="text" id="coinName">
        </div>

        <div class="form-group">
          <label for="dateValueCoin">Current Value</label>
          <input class="form-control" formControlName="dateValueCoin" type="number" id="dateValueCoin">
        </div>

        <div class="form-group">
          <label for="purchaseAmount">Purchased Amount</label>
          <input class="form-control" formControlName="purchaseAmount" type="number" id="purchaseAmount">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Add Coin</button>
        </div>

      </form>

    </div>

  </div>

</div>

