<h3>Current Investment</h3>

<p *ngIf="!investTotals; else loadTotals"><em>Loading...</em></p>

<!--Loads investment data db totals-->
<ng-template #loadTotals>

  <div class="form-group row">
    <label for="currentDate" class="col-sm-8 col-form-label">Date</label>
    <div class="col-sm-4">
      <input type="text" readonly class="form-control-plaintext" id="currentDate" value="{{ investTotals.currentDate | date: 'dd/MM/yyyy' }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="totalInvestment" class="col-sm-8 col-form-label">Total Investment</label>
    <div class="col-sm-4">
      <input type="text" readonly class="form-control-plaintext" id="totalInvestment" value="£{{ investTotals.totalInvestment }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="currentReturns" class="col-sm-8 col-form-label">Total Current Returns</label>
    <div class="col-sm-4">
      <input type="text" readonly class="form-control-plaintext" id="currentReturns" value="£{{ investTotals.currentReturns }}">
    </div>
  </div>

  <div class="form-group row">
    <label for="difference" class="col-sm-8 col-form-label">% Difference</label>
    <div class="col-sm-4">
      <input type="text" readonly class="form-control-plaintext" id="difference" value="{{ investTotals.percentDifference | number: '1.2-2' }}%">
    </div>
  </div>

  <div class="form-group row">

    <label for="profitTotal" class="col-sm-8 col-form-label">Profit Total</label>
    <div class="col-sm-3">
      <input type="text" readonly class="form-control-plaintext" id="profittotal" value="£1000">
    </div>

    <label for="capitalGain" class="col-sm-8 col-form-label">Capital Gains Tax</label>
    <div class="col-sm-3">
      <input type="text" readonly class="form-control-plaintext" id="capitalGain" value="£100">
    </div>

    <div class="col-sm-1">
      <i class="fa fa-check-circle" aria-hidden="true" style="color: green; display: inline-block; text-align: center; vertical-align: middle"></i>
    </div>
  </div>

</ng-template>


